header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 118px;
    background: linear-gradient(90deg, #05EDE3 0%, #645FFB 100%);
}

header img {
    margin-left: 100px;
}

header p {
    font-size: 14px;
    color: white;
    text-align: center;
}

.usuarioDiv {
    display: flex;
    align-items: center;
}

.usuarioDiv img {
    cursor: pointer;
}

.logout {
    margin: 0px 100px 0px 16px;
}